.header-navbar{
    
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}


.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.header-navlink-item{
        font-weight: 550!important;
        color: #333!important;
        font-size: 20px!important;
        padding: 20px!important;
}

.footer{
    background-color: #e68386;
    margin:0px auto;
    color:#fff;
    padding: 50px 0px;
}
.jumbotron-container{
    position: relative;
}
.jumbotron-image{
    width: 100%!important;
    height: 900px!important;

    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron-content{
    position:absolute; 
    top: 35%;
    
}
.jumbotron-title{
    font-size:90px;
    padding: 0 300px ;
    font-weight:bold;
    color: #fff;

}
.jumbotron-subtitle{
    font-size:52px;
    padding: 0 300px ;
    font-weight:bold;
    color: #db545a;
}
.jumbotron-button{
    background-color: #db545a!important;
    font-size:32px!important;
    margin:40px 0!important;
}
.home-item{

    position: relative;
    display: block;
    /* border-radius: 3px; */
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #ccc;
    /* box-shadow:  0 1px 5px #fff; */
    text-decoration: none;
    font-size: 1.4rem;
    margin-bottom: 50px;
    top: 0;
    transition: top ease 0.1s ;
    
}


.home-item__img{
    width: 100%;
    /* padding-top:100%; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    

}
.home-item__img-button{ width: 30%;
    /* padding-top:100%; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    margin-left: ;

}
@media(max-width:740px) {
    
.hidden-on-mobile{
    display: none;
}
}
.home-item__name{
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: #333;
    padding: 20px 0 30px 0;
    
    

}
.home-item__description{
    text-align: center;
    color: #333;
    font-size: 17px;

    font-weight: 400;

}



address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #fff;
    

}
.header-navbar-item{
    color:#333;
    font-weight: 600;
}
.rating-comment{
    outline: none;
    border: 0.5px solid #ccc;
    border-radius: 5px;
}

